body{
    font-family: ariel, helventica, sans-serif;
    background-color: rgb(200,200,200);
    font-size:25px;
    line-height:2;
    text-align:center;
    
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

header{
    background:rgb(90,90,90);
}