body{
    font-family: ariel, helventica, sans-serif;
    background-color: white;
    font-size:25px;
    line-height:2;
    text-align:center;
    
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

header{
    background:rgb(104, 146, 87);
    color:rgb(204, 241, 244    );
    border-bottom:black 3px solid;
    min-height:100px;
}

header h1{
    float:left;
}

nav{
    float:right;
    display:inline;
    margin-top:30px;
}

header li{
    display:inline;
    color: rgb(62,54,52);
    margin:18px;
    
}
header a{
    text-decoration:none;
    color: rgb(62,54,52);
    text-transform:uppercase;
    
}

#showcase{
    color:white;
    background:url(dogorunning.PNG) no-repeat;
    background-size:cover;
    min-height:500px;
    max-height:600px;
    
}
#showcase h1{
    margin-top:100px;
    width:40%;
    margin:auto;
    
}
#showcase p{
    width:40%;
    margin:auto;
    
}
footer{ 
    background-color:rgb(98, 116, 118  );
    border-top:black 3px solid;
    text-align:center;
    font-size:15px;
}
footer a{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    
}
 footer li{
    display:inline;
    padding: 0 20px 0 20px;
}

footer a:hover{
    font-weight:bold;
    color:rgb(196, 231, 234);
}


header .highlight{
    color:rgb(206,116,47);
    font-weight:bold;
}
header ul{
    margin:0px;
    padding:0px;
}
header a:hover{
    font-weight:bold;
    color:rgb(196, 231, 234);
}






#main{
    text-align:left;
}

#sidebar{
    float:right;
    width:30%;
    margin-bottom:15px;
    margin-right:20px;
    margin-top:10px;
}

.dark{
    padding:15px;
    background:rgb(90,90,90);
    color:white;
    margin-top:10px;
    margin-bottom:30px;
}
.aboutmestuff{
    padding:15px;
    background:rgb(60, 60, 60);
    color:white;
    margin-top:10px;
    margin-bottom:30px;
}

#main li{
    list-style:none;
    margin-top:30px;
    font-size:18px;
}

@media(max-width:770px){
    header h1, nav, .hat{
        color: ;
        float:none;
        text-align:center;
        width:100%;
    }
    

}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}


